<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск клиента</title>
</head>
<body>
<div style="background-color: #d4f3d1; padding: 10px; text-align: center;">
    <h1>Поиск клиента</h1>
</div>

<div style="display: flex; justify-content: space-between; padding: 20px;">
    <div style="flex: 3; padding: 10px; border: 1px solid #ccc; background-color: #f9f9f9;">
        <h3>Введите параметры поиска:</h3>
        <form th:action="@{/applications/search}" method="get">
            <label for="query">Ключевое слово:</label><br>
            <input type="text" id="query" name="query" placeholder="ФИО, паспортные данные, телефон"
                   style="width: 100%; padding: 5px; margin-top: 5px;"><br><br>
            <button type="submit" style="padding: 10px 20px; background-color: #62bf82; color: white; border: none; border-radius: 5px; font-weight: bold;">
                Найти
            </button>
        </form>
    </div>

    <div style="flex: 3; padding: 10px; border: 1px solid #ccc; background-color: #f9f9f9;">
        <h3>Результаты поиска:</h3>
        <ul>
            <li th:each="result : ${searchResults}" th:text="${result.fullName}">Имя клиента</li>
        </ul>
    </div>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a th:href="@{/applications/}"
       style="display: inline-block; padding: 10px 20px; background-color: #62bf82; color: black; text-decoration: none; border-radius: 5px; font-weight: bold;">
        Вернуться в главное меню
    </a>
</div>
</body>
</html>